<a href="https://colab.research.google.com/github/sheptrundle/ds1002-dvf5rd/blob/main/homework/week-15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 15

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Create Functions (4 pts)

Create two functions in the cells below, according to the prompts given.

In [23]:
# create a function in R that:
#   1. takes a single integer as an input parameter
#   2. determines whether the integer is even or odd
#   3. returns a character statement "The integer <x> is even" or "The integer <x> is odd" (replace <x> with the actual input provided)
#
# then execute the function twice using two different input values, displaying even and odd results.

odd_or_even <- function(int){
  if (int%%2 == 0){print(paste('The integer', int,'is even'))}
  else {print(paste('The integer',int,'is odd'))}
}

odd_or_even(10)
odd_or_even(11)

[1] "The integer 10 is even"
[1] "The integer 11 is odd"

In [28]:
# create a function in R that:
#   1. takes 4 integer input parameters
#   2. returns the mean value of the inputs
#   3. has default values for the 4 input parameters, in case they are not provided when the function is called.
#
# then execute the function twice: once where you provide the input values, and once where you do not.

average <- function(a=1,b=2,c=3,d=4){
mean = (a+b+c+d)/4
return(mean)
}

average(50,75,75,100)
average()

[1] 75

[1] 2.5

## 2. Plot Data (4 pts)

In the cell below, write the code required to plot from the `msleep` sample data set.

1. Display only animals with body weights of 30 or greater.
2. Group the animals by `order`.
3. Display the mean `sleep_total` for each group in a bar plot.

In [ ]:
install.packages('tidyverse')
library(tidyverse)
library(ggplot2)
install.packages('gapminder')
library(gapminder)

In [ ]:
msleep %>%
  filter(bodywt >= 30) %>%
  arrange(order)

avg <- msleep %>%
  filter(bodywt >= 30) %>%
  group_by(order) %>%
  summarize(avg_sleep = mean(sleep_total))

ggplot(avg, aes(x = order, y = avg_sleep, fill = order)) +
  geom_bar(stat = "identity")

#i mightve totally overcomplicated this but using ggplot was the only was I could get a barplot to work

## 3. Clean and Analyze Data Using R (4 pts)

In the cells below use R to perform the following data cleaning steps on this file:
https://raw.githubusercontent.com/nmagee/ds1002/main/data/social-media-users.csv

1. Remove any duplicate rows.
2. Remove any records where `last_login` or `birthdate` are empty.
3. Display only the records with the 10 highest `follower` counts.
4. Determine counts of users when grouped by continent.

In [80]:
df <- read.csv('https://raw.githubusercontent.com/nmagee/ds1002/main/data/social-media-users.csv')

In [82]:
df2 <- df[!duplicated(df), ]

In [83]:
df3 <- df2 %>% drop_na(last_login, birthdate)

In [ ]:
df3 %>%
  arrange(desc(followers)) %>%
  head(10)

In [89]:
df3 %>%
  group_by(continent) %>%
  summarize(user_count = n())

  continent user_count
1 AF        103
2 AN          1
3 AS        182
4 EU        127
5 OC        148
6 SA         92
7 NA        347